{% extends "base.html" %}

{% block content %}
        <div>
            <img src="static/media/header.jpg" alt="Home Page">
        </div>
        <hr/>
        <section>
            <h1> Faculdade Tec Hacking </h1>
            <div>
                <div>
                    <a href="cursosgraduacao.html">
                        <img src="static\media\pic01.jpg" alt="Graduação">
                    </a>
                </div>
                <div>
                    <a href="cursospos.html">
                        <img src="static\media\pic02.jpg" alt="Pos-Graduação">
                    </a>
                </div>
                <div>
                    <a href="cursoscertificacao.html">
                        <img src="static\media\pic03.jpg" alt="Certificações">
                    </a>
                </div>
            </div>
        </section>
        <section>
            <article>
                <h1> Eventos </h1>
            </article>
        </section>
        <section>
            <article>
                <h1> Noticias </h1>
            </article>
        </section>
{% endblock %}
