<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/csslocal.css' %}" />

</head>
<body>
    <header>
        <!--<div  class='logo'>
            <img src="static/media/logo.png" alt="Logo">
        </div>
        <div class="sup">
            <h1>
                TEC.HACKING
            </h1>
        </div> -->
        <input type="checkbox" id="botao_menu">
	    <label for="botao_menu">&#9776;</label>

	    <nav class="menu">
		    <ul>
                <li><a href="index"> Home </a></li>
                <li><a href="cursosgraduacao"> Graduação </a>
				    <ul>
					    <li><a href="graduacaosistemas"> Sistemas </a></li>
					    <li><a href="graduacaoredes"> Redes </a></li>
					    <li><a href="graduacaogames"> Games </a></li>
                        <li><a href="graduacaohacking"> Hacking </a></li>
				    </ul>
			    </li>
                <li><a href="cursospos"> Pós-Graduação </a>
                    <ul>
                        <li><a> DBA - MOTHER FUCK </a> </li>
                        <li><a> HACKING - FUCK YEAR </a></li>
                    </ul>
                </li>
                <li><a href="cursoscertificacao"> Certificação </a></li>
                <li><a href="contato"> Contato </a></li>
                <li class="right"><a href="login"> Login </a></li>
    	    </ul>
	    </nav>
    </header>
{% block content %}{% endblock %}
    <hr>
    <footer>
            © {{ faculdade }} - Todos os direitos reservados.
    </footer>
{% block scripts %}{% endblock %}

</body>
</html>
