{% extends "base.html" %}

{% block content %}
    <div>
        <img src="static/media/header.jpg" alt="Home Page">
    </div>
    <hr/>
    <section>
        <h1> Graduação </h1>
        <div class="main">
            
                <a href="graduacaosistemas">
                    <img class="col1" src="static\media\pic01.jpg" alt="sistemas">
                </a>
          
                <a href="graduacaoredes">
                    <img class="col2" src="static\media\pic02.jpg" alt="redes">
                </a>
           
                <a href="graduacaogames">
                    <img class="col3" src="static\media\pic03.jpg" alt="Games">
                </a>
            
                <a href="graduacaohacking">
                    <img class="col1" src="static\media\pic04.jpg" alt="Hacking">
                </a>
             
        </div>
    </section>


{% endblock %}
