{% extends "base.html" %}

{% block content %}
    <div>
        <img src="static/media/header.jpg" alt="Home Page">
    </div>
    <hr/>
    <section>
        <h1> Graduação </h1>
        <div>
            <div>
                <a href="graduacaosistemas">
                    <img src="static\media\pic01.jpg" alt="sistemas">
                </a>
            </div>
            <div>
                <a href="graduacaoredes">
                    <img src="static\media\pic02.jpg" alt="redes">
                </a>
            </div>
            <div>
                <a href="graduacaogames">
                    <img src="static\media\pic03.jpg" alt="Games">
                </a>
            </div>
            <div>
                <a href="graduacaohacking">
                    <img src="static\media\pic04.jpg" alt="Hacking">
                </a>
            </div>
        </div>
    </section>


{% endblock %}