{% extends "base.html" %}

{% block content %}
    <div>
        <img src="static/media/header.jpg" alt="Home Page">
    </div>
    <section>
        <h1>
            Sistemas da Informacao
        </h1>
    </section>
    <section>
        <h1>
            O que é ?
        </h1>
        <article>
            <p>
                blablablablabla
            </p>
        </article>
    </section>
    <section>
        <h1>
            Grade Curricular
        </h1>
        <article>
            <ul>
                <li>
                    teste
                </li>
                <li>
                    test1
                </li>
            </ul>
        </article>
    </section>

{% endblock %}