{% extends "base.html" %}

{% block content %}
    <div>
        <img src="static/media/header.jpg" alt="Home Page">
    </div>
    <section>
        <h1>
            Jogos
        </h1>
    </section>
    <section>
        <h1>
            Sobre o Curso...
        </h1>
        <article>
            <p>
                Com o curso de Jogos Digitais você será capaz de criar e desenvolver games para diversas plataformas como PC, web e mobile. Com conhecimento interdisciplinar, você terá contato com todas as fases do projeto, desde o design, arte visual, áudio, programação, até a gestão de projetos e negócios.<br>
                O perfil empreendedor é alcançado fazendo com que os alunos possam criar suas próprias startups e produtos inovadores durante os quatro semestres finais do curso.<br>
                A graduação aborda os conceitos, metodologias e ferramentas práticas para você projetar, implementar e testar jogos digitais, criando roteiros, cenários, personagens, interfaces, regras e jogabilidade, além de poder aplicar técnicas de programação, áudio e elementos em 2D e 3D.
            </p>
            <p>Periodo: Noturno </p>
            <p>Duração: 4 Semetres </p>
        </article>
    </section>
    <section>
        <h1>
            Grade Curricular
        </h1>
        <article>

<table border="1" class="tabela">

<tr>

<td>Arte 2D para jogos digitais</td>

<td>Desenho e Concept Art para jogos</td>

<td>Introdução a progamação para Jogos Digitais</td>

</tr>

<tr>

<td>Libras</td>

<td>Empreendedorismo</td>

<td>Animação 3D</td>

</tr>

</table>

        </article>
    </section>

{% endblock %}
