{% extends "base.html" %}

{% block content %}
    <div>
        <img src="static/media/header.jpg" alt="Home Page">
    </div>
    <section>
        <h1>
            Sistemas da Informacao
        </h1>
    </section>
    <section>
        <h1>
            Sobre o Curso...
        </h1>
        <article>
            <p>
                Este curso visa formar empreendedores, profissionais e pesquisadores focados na construção, manutenção e evolução dos sistemas computacionais de apoio às organizações.<br>
                O perfil empreendedor é alcançado fazendo com que os alunos possam criar suas próprias startups e produtos inovadores durante os quatro semestres finais do curso.<br>
                O perfil profissional é alcançado desenvolvendo no aluno a capacidade de entender e analisar problemas reais e a desenvolver soluções pragmáticas com o uso de tecnologias de melhor custo benefício.<br>
                O constante envolvimento do aluno na solução de problemas impulsiona o perfil investigativo, não apenas como um pesquisador intuitivo, mas, sobretudo, como conhecedor de processos e métodos para a realização de pesquisas científicas.<br>
                O grande diferencial deste curso está na estrutura curricular do curso. Nos quatro primeiros semestres o aluno aprende a "saber fazer", ou seja, o aluno aprende a analisar problemas e criar soluções com o uso das tecnologias da informação.<br>
                Isso permite que o aluno receba no meio do curso de SI, o diploma de Análise e Desenvolvimento de Sistemas. Nos quatro semestres finais, o aluno aprende a "inovar", ou seja, aprende a utilizar a sua capacidade de "saber fazer" para construir produtos ou serviços evolucionários, revolucionários ou até disruptivos dentro de suas próprias startups.<br>
            </p>
            <p>Periodo: Noturno </p>
            <p>Duração: 8Semetres</p>
        </article>
    </section>
    <section>
        <h1>
            Grade Curricular
        </h1>
        <article>


<div class="grade">

    <div>Lógica de progamação</div>

    <div>Fundamentos de banco de dados</div>

    <div>Matematica Aplicada</div>

    <div>Estrutura de dados</div>       
   
    <div>Gestão de projetos</div>

    <div>Comunicação e expressão</div>


</div>

        </article>
    </section>

{% endblock %}
