{% extends "base.html" %}

{% block content %}
    <div>
        <img src="static/media/header.jpg" alt="Home Page">
    </div>
    <section>
        <h1>
            Jogos
        </h1>
    </section>
    <section>
        <h1>
            Sobre o Curso...
        </h1>
        <article>
            <p>
                Com o curso de Redes de Computadores você estará preparado para analisar, projetar, instalar e administrar soluções para sistemas eficientes e seguros em projetos de redes locais e de longa distância.<br>
                Você terá uma visão abrangente da área, aprendendo os conceitos em laboratório, desenvolvendo as habilidades de diagnóstico, implementação e administração de infraestrutura e serviços de redes. No curso, você ainda se prepara para o mercado com noções de gestão, trabalho em equipe e visão empreendedora.<br>
                
            </p>
            <p>Periodo: Diurno </p>
            <p>Duração: 4 Semetres </p>
        </article>
    </section>
    <section>
        <h1>
            Grade Curricular
        </h1>
        <article>

<table border="1" class="tabela">

<tr>

<td>Cadeamento estruturado</td>

<td>Arquitetura de redes para computadores</td>

<td>Progamação para redes</td>

</tr>

<tr>

<td>Introdução a internet das coisas</td>

<td>Fundamentos de Sistemas Operacionais</td>

<td>Administração de Redes e Sistemas</td>

</tr>

</table>

        </article>
    </section>

{% endblock %}
