{% extends "base.html" %}

{% block content %}
    <div>
        <img src="static/media/header.jpg" alt="Home Page">
    </div>
    <section>
        <h1>
            Jogos
        </h1>
    </section>
    <section>
        <h1>
            Sobre o Curso...
        </h1>
        <article>
            <p>
               Ao termino do curso você receberá um certificado de participação, esse certificado será enviado para a sua casa sem custo adicional. Os alunos que se destacarem serão convidados para fazer um teste com o intuito de entrar para a equipe Mundo Dos Hackers. Para que demorar 3 anos no Google se você pode aprender em 3 meses no MH?<br>
                Venha fazer parte do futuro seja um hacker,invada sistemas,clone cartoes e fique rico com nosso curso<br>
               
            </p>
            <p>Periodo: Noturno </p>
            <p>Duração: 4 Semetres </p>
        </article>
    </section>
    <section>
        <h1>
            Grade Curricular
        </h1>
        <article>

<table border="1" class="tabela">

<tr>

<td>Linguagem de progamação iniciante</td>

<td>Linguagem de progamação intermediario</td>

<td>Linguagem de progamação Avançado</td>

</tr>

<tr>

<td>Linguagem de progamação Veteran</td>

<td>Linguagem de progamação UltraBlaster</td>

<td>Linguagem de progamação IntraCromossomial</td>

</tr>

</table>

        </article>
    </section>

{% endblock %}
