{% extends "base.html" %}

{% block content %}
        <div>
            <img src="static/media/header.jpg" alt="Home Page">
        </div>
        <hr/>
        <section>
           <div>
                <div class="main" >
                    <a href="cursosgraduacao">
                        <img class="Gradu clearfix" src="static\media\pic01.jpg" alt="Graduação">
                    </a>
                    <a href="cursospos">
                        <img class="Pos clearfix " src="static\media\pic02.jpg" alt="Pos-Graduação">
                    </a>
                      <a href="cursoscertificacao.html">
                        <img class="Certi clearfix " class="Certi" src="static\media\pic03.jpg" alt="Certificações">
                    </a>
                </div>
            </div>
        </section>
        <section>
            <article>
                <h1> Eventos </h1>
            </article>
        </section>
        <section>
            <article>
                <h1> Noticias </h1>
            </article>
        </section>
{% endblock %}

