{% extends "base.html" %}

{% block content %}
        <div >
            <img  src="static/media/header.jpg" alt="Home Page">
        </div>
        <hr/>
        <section>
           <div>
                <div class="main" >
                    <a href="cursosgraduacao">
                        <img class="col1 " src="static\media\pic01.jpg" alt="Graduação">
                    </a>
                    <a href="cursospos">
                        <img class="col2  " src="static\media\pic02.jpg" alt="Pos-Graduação">
                    </a>
                      <a href="cursoscertificacao.html">
                        <img class="col3  "  src="static\media\pic03.jpg" alt="Certificações">
                    </a>
                </div>
            </div>
        </section>
        <section>
            <article>
                <h2> Eventos </h2>
                <h1><p>Participe do nosso workshop 29/11 </p></h1>

               <h1><p> Faça parte da nossa equipe, recrutamento e seleção  05/12</p></h1>
            </article>
        </section>
        <section>
            <article>
                <h2> Noticias </h2>
                <h1><p>Nosso Aluno foi Campeão do hackaton edição São Paulo</p></h1>
                <h1><p>Nossa instituição foi eleita a melhor do brasil</p></h1>

            </article>
        </section>
{% endblock %}
