body {
	margin: 0;
	font-family: Verdana;
	font-size: 15px;
}
* {
	margin: 0px;
	padding: 0px;
}
.menu {
	width: 100%;
	height: 53px;
	background-color: black;
	font-family: 'Pacifico', cursive;
}
.menu ul{
	list-style: none;
	position: relative;	
}
.menu ul li {
	width: 150px;
	float: left;
}
.menu a {
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: black;
	color: #fff;
}
.menu ul ul a{
	background-color: black;
}
.menu ul ul {
	position: absolute;
	visibility: hidden;
	background-color: #fff;
}
.menu ul li:hover ul {
	visibility: visible;
}
.menu a:hover ul {
	background-color: #f4f4f4;
	color: #555;
}
.menu ul ul li{
	float: none;
	border-bottom: solid 1px #fff;
}
.menu ul ul li{
	background-color: #fff;
}
label[for="botao_menu"]{
	padding: 5px;
	background-color: black;
	color: #fff;
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}
#botao_menu{
	display: none;
}
label[for="botao_menu"]{
	display: none;
}
@media(max-width: 1000px){
	label[for="botao_menu"]{
		display: block;
	}
	#botao_menu:checked ~ .menu{
		margin-left: 0;
	}
	.menu{
		margin-top: 5px;
		margin-left: -100%;
		transition: all .4s;
	}
	.menu ul li {
		width: 100%;
		float: none;
	}
	.menu ul ul {
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
	}
	.menu ul li:hover ul{
		height: auto;
		max-height: 200px;
	}
}

 a:hover {
    background-color:black;
}
 .menu ul ul a:hover {
 	 background-color:black;
 }